; Plugin Captcha Q&A
; Copyright (C) 2013 - 2017 RJCreations. All rights reserved.
; License GNU General Public License version 3 or later; see LICENSE.txt
; Note : All ini files need to be saved as UTF-8

; Change items below as desired; then remove '.sample' from the end of this file's name

; Labels
PLG_CAPTCHA_QA_LABEL_PLEASE="To protect our site from spam, please answer a simple question."

; Questions and answers .. format: <question> | <comma separated list of possible answers (no spaces on either side of the commas)>
PLG_CAPTCHA_QA_Q1="What is the 4<sup>th</sup> letter of the word 'foxtail'? | t"
PLG_CAPTCHA_QA_Q2="What is the 3<sup>rd</sup> letter of the word 'pony'? | n"
PLG_CAPTCHA_QA_Q3="What is the 5<sup>th</sup> letter of the word 'compromise'? | r"
PLG_CAPTCHA_QA_Q4="How many 3's are in the number: 1,347,237? | 2,two"
PLG_CAPTCHA_QA_Q5="How many 7's are in the number: 17,374,327? | 3,three"
PLG_CAPTCHA_QA_Q6="How many 9's are in the number: 1,347,237? | 0,zero,none"
PLG_CAPTCHA_QA_Q7="What is the sum of four plus three? | 7,seven"
PLG_CAPTCHA_QA_Q8="What is the sum of 2 plus three? | 5,five"
PLG_CAPTCHA_QA_Q9="What is the sum of six plus two? | 8,eight"

; Good questions would be ones that have everything in the question to determine the answer,
;   not relying on the users knowledge of something else.
; Other example suggestions
; "Type the word 'cat' without the a. | ct,c t"
; "How may words are in THIS sentence? | 7,seven"
; "What is the number that follows four? | 5,five"

; Questions that require that the user has some general knowledge of things
; "How many weeks are there in a year? | 52,fifty-two"
; "How many legs do most dogs have? | 4,four"
; "How many days are there in the month of September? | 30,thirty"